main>.secondSection{
    padding-top:5%;
    padding-left: 10%;
    margin-right: 15%;
}

main>.secondSection>.sectionHome{
    background-color: aqua;
    margin-top: 3em;
}
main>.secondSection>.sectionHome>.imageContainer{
    position: relative;
    width: 16%;
    height: 10em;
    float: left;
    margin-left: 0.6%;
}
main>.secondSection>.sectionHome>.second{
    width: 32%;
    margin-left: 1.2%;
    margin-top: 0.6%;
}
main>.secondSection>.sectionHome>.imageContainer>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5em;
}
main>.secondSection>.sectionHome>.imageContainer>h3{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0%;
    border-radius: 0.5em;
    cursor: pointer;
        
}
main>.secondSection>.sectionHome>.imageContainer>h3>a{
    position: relative;
    top: 45%;
    text-decoration: none;
    color: white;
}
main>.secondSection>.sectionHome>.imageContainer>h3:hover{
    background-color: rgb(188, 241, 224);
}

.itemProducer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 4%;
}
.itemProducer>div{
    text-transform: uppercase;
    background: #f2f2f2;
    border-radius: .5em;
    padding: 1em;
    flex: 1 1 0;
    white-space: nowrap;
}
.itemProducer>div>h3{
    font-family: Inter,Helvetica,sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3.5px;
}
.secondSection>.sideRight2{
    width: 49%;
    float: right;
    height: 30%;
}
.secondSection>.sideRight2>img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.secondSection>.sideLeft2{
    width: 49%;
}
.secondSection>.sideLeft2>h1{
    font-size: 3em;
}
.secondSection>.sideLeft2>h3{
    font-size: 1.2em;
    color: rgb(167, 167, 167);
}
.secondSection>.sideLeft3{
    width: 49%;
    padding: 3%;
    float: left;
}
.secondSection>.sideRight3{
    width: 49%;
    float: right;
   padding-left: 5%;
}

.secondSection>.sideLeft3>img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.secondSection>.sideRight3>h1{
    font-size: 2.5em;
}
.secondSection>.sideRight3>p{
    padding-top: 1em;
    font-size: 1.2em;
    color: rgb(167, 167, 167);
}
.secondSection>.sideRight3>.number{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    margin-top: 2em;
}
.secondSection>.sideRight3>.number>.users{
    font-size: 16px;
    line-height: 1.5;
    color: #828282;
    margin-bottom: 24px;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
}
.secondSection>.sideRight3>.number>.users>.files{
    font-size: 28px;
    line-height: 1.29;
    font-weight: 700;
    color: #333;
    margin: 0 0 4px;
    display: block;
}
.secondSection>.itemSec{
    display: flex;
    flex-wrap: wrap;
}
.secondSection>.itemSec>.item{
    margin-top: 10%;
    padding-left: 1.5em;
    position: relative;
    text-align: left;
    flex: 0 0 33.3%;
    width: 100%;
    max-width: 33.3%;
}
.secondSection>.itemSec>.item>.image{
    text-align: left;
}
.secondSection>.itemSec>.item .text{
    color: #828282;
    margin-top: 16px;
}

@media only screen and (max-width: 830px) {
    main>.secondSection>.sectionHome>.imageContainer{
        width: 32%;
        margin-left: 1.2%;
        margin-top: 1%;

    }
    .secondSection>.itemSec>.item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 500px) {

    main>.secondSection>.sectionHome>.imageContainer{
        width: 48.8%;
    }
    main>.secondSection>.sectionHome>.second{
        width: 100%;
    }
    .secondSection>.sideLeft2>h1{
        font-size: 2em;
    }
    .secondSection>.sideRight3>h1{
        font-size: 1.5em;
    }

}
@media only screen and (max-width: 1150px) {
    .secondSection>.sideRight2{
        width: 100%;
        height: 20em;
    }
    .secondSection>.sideLeft2{
        width: 100%;
    }  
    .secondSection>.sideRight3{
        width: 100%;
    } 
    .secondSection>.sideLeft3{
        width: 100%;
        height: 20em;
    }
}
